header {
    background-color: thistle;
}

header h1 {
    font-size: 28px;
    color: tomato;
    text-align: center;
}

.menu {
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 0;
}

.menu li {
    display: inline;
    padding: 10px;
}
