* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100vh;
}

#root {
  background: deepskyblue;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}