.messenger {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;

  &__main {
    display: flex;
  }

  &_chat {
    font-size: 1.6em;
    width: 60vw;
    text-align: center;
  }
}