.messenger {
  width: 70%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

.messenger__prompt {
  width: 949px;
  text-align: center;
}

.chats__wrapper {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.chats__list {
  width: 200px;
}

.chat-item {
  display: flex;
  flex-direction: row;
}

.chat-item__link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.chat__highlighted div {
  background-color: pink;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .chats__wrapper {
    flex-direction: column;
  }
} 
