* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page-content {
    flex-grow: 1;
    display: flex;
  }
}