.message-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  margin-left: 20px;

  > input {
    margin: {
      bottom: 10px;
      top: 20px;
    }
  }

  > textarea {
    margin: {
      bottom: 5px;
    }
  }
}
