.messages-list {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: #cfffef;
    padding: 20px;
    width: calc(100% - 40px);
    overflow-y: scroll;
    margin: 0;
    flex-grow: 1;
}