.add-chat_input {
  width: 7rem;

  & label {
    color: #ffffff;
  }
}

.chat-list_text-item {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.wrap-one-chat-list {
  display: flex;
  align-items: center;
}