.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 200px;
    margin: auto;
    align-items: center;
}

.horizontal{
    display: flex;
    flex-direction: row;

}