.chat-list {
    padding: 0 !important;

    &__item {
        border-bottom: 1px solid #4cc19a;
        padding: 0 !important;

        &:hover {
            background: #cfffef;
            cursor: pointer;
        }
    }

    &__link {
        text-decoration: none;
        color: #757575;
        width: 100%;
        padding: 16px;
    }
}