.message {
    background-color: lightgreen;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;

    &-owner {
        align-self: flex-end;
    }

    &-bot {
        align-self: flex-start;
    }

    &-sender {
        font-size: 14px;
        color: grey;
    }
}