.messages-list {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px;
  width: calc(100% - 40px);
  background-color: rgba(240, 248, 255, 0.536);
  border: 1px solid rgba(0, 0, 255, 0.616);
  box-sizing: border-box;
  overflow-y: scroll;
}
