.blink {
    animation: blinker 1s linear infinite;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;

    &-show {
        visibility: visible;
    }

    &-hide {
        visibility: hidden;
    }
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.selected {
    background-color: red;
}
