body {
    background-color: aqua;
}

.message-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-form {
    flex-grow: 1;
}

.message-input,
.message-textarea {
    width: 100%;
    border: 1px solid #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.message-submit {
    margin-left: 10px;
    padding: 3px 5px;
    background-color: green;
    color: #ffffff;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.error {
    border-color: red;
}